body {
    font-family: 'Open Sans', sans-serif;
    font-size: 3vh;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    padding: 10vh;
    height: 40vh;
}

.title {
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    text-decoration: solid;
}

.start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    height: 50vh;
    width: 45vh;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5vh;
    height: 50vh;
    width: 45vh;
}

.input-text {
    text-align: center;
    width: 90%;
    padding: 5%;
    border-radius: 78px;
    border: black;
    background-color: rgb(191 111 219 / 64%);
}

.input-button {
    width: 30%;
    height: 8vh;
    padding: 30px;
    
    border-radius: 78px;
    border: black;
    background-color: rgb(5, 126, 85);
}

button {
    font-size: 3vh;
    width: 75%;
    height: 35%;
    
    border-radius: 78px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4c77af;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
button:hover, button:active {
    background-color: #582985;
}
.button-container{
    gap: 5vh;
    height: 50vh;
    width: 45vh;
    display: flex;
    justify-content: center;
}

label {
    text-align: center;
}
input {
    border-radius: 4px;
    padding: 8px;
    font-size: 5vh;
    color: #333;
    width: 5em;
    text-align: center;
    margin-top: 3vh;
}

.dark-mode {
    background-color: #333;
    color: #f9f9f9;
  }